@use "../abstract/variables";
.button-dropdown {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 2rem;

  background-color: variables.$bg-secondary;
  color: variables.$font-white;

  &:hover {
    cursor: pointer;
  }
}

.button {
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
  font-size: 2rem;

  background-color: variables.$bg-secondary;
  border: 2px solid transparent;
  border-bottom: 2px solid darken($color: variables.$bg-secondary, $amount: 50%);

  box-shadow: variables.$boxshadow-sm;

  border-radius: variables.$rounded;
  -webkit-border-radius: variables.$rounded;
  -moz-border-radius: variables.$rounded;
  -ms-border-radius: variables.$rounded;
  -o-border-radius: variables.$rounded;

  transition: variables.$transition-all;
  -webkit-transition: variables.$transition-all;
  -moz-transition: variables.$transition-all;
  -ms-transition: variables.$transition-all;
  -o-transition: variables.$transition-all;

  &:hover {
    background-color: lighten($color: variables.$bg-secondary, $amount: 10%);
    border-bottom-color: darken($color: variables.$bg-secondary, $amount: 10%);
    box-shadow: variables.$boxshadow;
    cursor: pointer;
  }

  &:focus {
    background-color: lighten($color: variables.$bg-secondary, $amount: 10%);
    border-bottom-color: darken($color: variables.$bg-secondary, $amount: 10%);
    box-shadow: variables.$boxshadow;
  }
}

.button-danger {
  @extend .button;
  color: variables.$font-white;

  background-color: variables.$fave-red;
  border-bottom: 2px solid variables.$fave-red-dark;

  &:hover {
    background-color: variables.$fave-red-dark;
    border-bottom: 2px solid darken($color: variables.$fave-red, $amount: 50%);
  }
  &:focus {
    background-color: variables.$fave-red-dark;
    border-bottom: 2px solid darken($color: variables.$fave-red, $amount: 50%);
  }
}

.button-modal {
  @extend .button;

  color: variables.$font-white;

  background-color: transparent;
  border-color: variables.$font-white;

  &:hover {
    background-color: variables.$font-white;
    color: variables.$font-black;
    border-bottom: 2px solid variables.$font-black;
  }

  &:focus {
    background-color: variables.$font-white;
    color: variables.$font-black;
    border-bottom: 2px solid variables.$font-black;
  }
}
