.button-dropdown {
  width: 10rem;
  padding: 1rem;
  background-color: $gray;
  box-shadow: $boxshadow;
  border-radius: $rounded;
  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  -ms-border-radius: $rounded;
  -o-border-radius: $rounded;
}
