@use "../abstract/variables";

.dropdown {
  margin: 0 1rem;
  position: relative;

  &-content {
    position: absolute;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    width: 100%;

    text-align: center;
    font-size: 2rem;
  }

  &-link {
    height: 4rem;
    background-color: lighten($color: variables.$bg-secondary, $amount: 20%);

    &:hover {
      background-color: variables.$bg-secondary;
    }
  }
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}
