@use "../abstract/variables";
.search {
  display: flex;
  margin: 2rem auto;

  min-height: 4rem;

  box-shadow: variables.$boxshadow-sm;

  &-input {
    font-size: 2.25rem;
    padding: 0.5rem 1rem;
    color: variables.$font-black;
    border-radius: variables.$rounded;
    -webkit-border-radius: variables.$rounded;
    -moz-border-radius: variables.$rounded;
    -ms-border-radius: variables.$rounded;
    -o-border-radius: variables.$rounded;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-button {
    background-color: variables.$bg-secondary;
    min-height: 100%;
    border-radius: variables.$rounded;
    -webkit-border-radius: variables.$rounded;
    -moz-border-radius: variables.$rounded;
    -ms-border-radius: variables.$rounded;
    -o-border-radius: variables.$rounded;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: variables.$transition-all;
    -webkit-transition: variables.$transition-all;
    -moz-transition: variables.$transition-all;
    -ms-transition: variables.$transition-all;
    -o-transition: variables.$transition-all;
    &:hover {
      cursor: pointer;
      background-color: darken($color: variables.$bg-secondary, $amount: 10%);
    }

    &:focus {
      cursor: pointer;
      background-color: darken($color: variables.$bg-secondary, $amount: 10%);
    }
  }
}
