.settings-adult-btn {
  padding: 2rem;
  text-align: center;
  box-shadow: $boxshadow;
  border-radius: $rounded;
  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  -ms-border-radius: $rounded;
  -o-border-radius: $rounded;
}

.settings-nsfw {
  background-color: $fave-red;
  color: $font-black;
}

.settings-nsfw:hover {
  background-color: $fave-red-dark;
  color: $font-white;
}
.settings-sfw {
  background-color: $bg-secondary;
  color: $font-black;
}

.settings-sfw:hover {
  background-color: darken($color: $bg-secondary, $amount: 20%);
  color: $font-white;
}
