.tags {
	display: flex;
	flex-direction: column;
	width: 90%;
	min-height: 20rem;
	height: 50%;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: var(--background-secondary);

	box-shadow: var(--boxshadow);
	font-size: 1.6rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	&-list {
		overflow: hidden;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}

	&-tag {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		margin: 4px;
		padding-left: 5px;
		background-color: var(--background-primary);
		&-data {
			float: left;
			height: 100%;
		}

		&-nsfw {
			color: var(--fav-red);
		}
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;

		&:hover {
			background-color: var(--background-secondary);
			cursor: pointer;
		}
	}

	&-form {
		display: flex;
		align-self: center;
		justify-self: center;
		justify-content: center;
		align-items: flex-start;

		width: 100%;
		margin-bottom: 1rem;
		&-input {
			width: 10rem;
			height: 3rem;
			padding: 0.5rem 0.2rem;
			background-color: var(--background-secondary-dark);
			color: var(--font-primary);
			border-radius: 5px 0 0 5px;
			-webkit-border-radius: 5px 0 0 5px;
			-moz-border-radius: 5px 0 0 5px;
			-ms-border-radius: 5px 0 0 5px;
			-o-border-radius: 5px 0 0 5px;
		}

		&-select {
			width: 6rem;
			height: 3rem;
			background-color: var(--background-secondary-dark);
			border: 1px solid transparent;
			color: var(--font-primary);
			outline: none;

			&:hover {
				cursor: pointer;
			}
		}

		&-option {
			background-color: var(--background-secondary);

			color: var(--font-primary);
			border: 1px solid transparent;
			outline: none;
		}
	}
}

@include respond(tabLand) {
	.tags {
		margin-top: 2rem;
	}
}
