//media query manager

/*
0-600 phone
600-900 tablet
900-1200 tablet landscape
1200-1800 laptops & desktops *normal styles apply*
1800+ big desktop and high res laptops
$breakpoint argument choices: 
-phone 600px
-tab-port 900px
-lap/desk 1800px
1em = 16px
600px = 37.5em
900px = 56.25em
1800px = 112.5em
*/
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == lap-desk {
		@media only screen and (min-width: 112.5em) {
			@content;
		}
	}
}
