$bg-primary: #1a202c;
$bg-secondary: #44337a;

$font-primary: #f7fafc;
$font-black: #1e1e1e;
$font-white: #fefefe;

$gray: #4a5568;
$gray-dark: #2d3748;

$boxshadow: 0.75rem 0.75rem 1rem #0e0918bb;
$boxshadow-sm: 0.5rem 0.5rem 0.5rem #190f2ba2;

$card-background: #f9f9f9;

$fave-red: #f56565;
$fave-red-dark: #c53030;

$font-max: 1.8rem;
$font-min: 1.2rem;

$font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));

$rounded: 3px;

$transition-all: all 0.5s ease;
