@use "../../abstract/variables";

.tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: darken($color: variables.$bg-secondary, $amount: 15%);
  padding: 1rem;
  height: auto;
  margin-bottom: 1.5rem;

  border-radius: variables.$rounded;
  -webkit-border-radius: variables.$rounded;
  -moz-border-radius: variables.$rounded;
  -ms-border-radius: variables.$rounded;
  -o-border-radius: variables.$rounded;

  &-form {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;

    &-input {
      width: 12rem;
      height: 3rem;
      color: variables.$font-black;
      border-radius: variables.$rounded;
      -webkit-border-radius: variables.$rounded;
      -moz-border-radius: variables.$rounded;
      -ms-border-radius: variables.$rounded;
      -o-border-radius: variables.$rounded;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-select {
      width: 10rem;
      height: 3rem;
      padding: 0.5rem 0.25rem;
      color: variables.$font-black;

      &:hover {
        cursor: pointer;
      }

      &-option {
        &:hover {
          cursor: pointer;
        }
      }
    }

    &-button {
      height: 3rem;
      padding: 0.5rem 0.25rem;
      background-color: variables.$bg-secondary;
      color: variables.$font-white;
      border-radius: variables.$rounded;
      -webkit-border-radius: variables.$rounded;
      -moz-border-radius: variables.$rounded;
      -ms-border-radius: variables.$rounded;
      -o-border-radius: variables.$rounded;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover {
        background-color: lighten($color: variables.$bg-secondary, $amount: 15%);
        cursor: pointer;
      }
    }
  }

  &-list {
    min-height: 20rem;
    overflow: hidden;
  }

  &-tag {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.75rem;
    height: 100%;
    text-align: center;

    background-color: variables.$bg-secondary;

    border-radius: variables.$rounded;
    -webkit-border-radius: variables.$rounded;
    -moz-border-radius: variables.$rounded;
    -ms-border-radius: variables.$rounded;
    -o-border-radius: variables.$rounded;

    &:hover {
      background-color: lighten($color: variables.$bg-secondary, $amount: 15%);
    }

    &-data {
      padding: 0 1rem;
    }

    button {
      height: 100%;
      padding: 1rem 0.5rem;
      color: variables.$font-white;
      background-color: variables.$fave-red;

      &:hover {
        cursor: pointer;
        background-color: darken($color: variables.$fave-red, $amount: 15%);
      }
      border-radius: variables.$rounded;
      -webkit-border-radius: variables.$rounded;
      -moz-border-radius: variables.$rounded;
      -ms-border-radius: variables.$rounded;
      -o-border-radius: variables.$rounded;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-nsfw {
      color: variables.$fave-red;
    }
  }
}
