.wallpaperslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 100%;
}

.thumb {
  margin: 4rem 1rem;
  height: 100%;
  width: 100%;
  max-width: 500px;

  &-fig {
    width: auto;
    height: auto;
    position: relative;

    &:hover {
      figcaption {
        visibility: visible;
      }
    }

    figcaption {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;

      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      );
      visibility: hidden;
      z-index: 20;

      p {
        margin: 0.5rem 0.5rem;
      }
    }
    transition: $transition-all;
    -webkit-transition: $transition-all;
    -moz-transition: $transition-all;
    -ms-transition: $transition-all;
    -o-transition: $transition-all;
  }

  &-img {
    width: 100%;
    height: 100%;
    z-index: 10;

    &:hover {
      cursor: pointer;
      filter: blur(2px);
      -webkit-filter: blur(2px);
    }

    transition: $transition-all;
    -webkit-transition: $transition-all;
    -moz-transition: $transition-all;
    -ms-transition: $transition-all;
    -o-transition: $transition-all;
  }
}
