.wallpaper-img {
  width: 100%;
  height: auto;
  max-width: 85vw;
  max-height: 85vw;
  margin: 0 auto;
  border-radius: $rounded;
  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  -ms-border-radius: $rounded;
  -o-border-radius: $rounded;
}
