@use "../../abstract/variables";
@use "../../abstract/mixins";

.wallpaper {
  width: 100%;
  max-width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-fig {
  }

  &-img {
    width: 100%;
    height: auto;
    max-width: 85vw;
    max-height: 85vw;
    margin: 0 auto;
    border-radius: variables.$rounded;
    -webkit-border-radius: variables.$rounded;
    -moz-border-radius: variables.$rounded;
    -ms-border-radius: variables.$rounded;
    -o-border-radius: variables.$rounded;
  }

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: 36rem;
    margin: 0.5rem;
    padding: 1.5rem;

    background-color: variables.$bg-secondary;
    box-shadow: variables.$boxshadow-sm;

    border-radius: variables.$rounded;
    -webkit-border-radius: variables.$rounded;
    -moz-border-radius: variables.$rounded;
    -ms-border-radius: variables.$rounded;
    -o-border-radius: variables.$rounded;
  }

  &-modal {
    display: flex;
  }
}

@include mixins.screen(tablet) {
  .wallpaper {
    align-items: flex-start;
    flex-direction: row;

    &-fig {
      margin: 2rem;
    }
  }
}
