@use "../abstract/variables";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;

    &-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 60rem;
    }
    &-link {
      width: 100%;
      max-width: 20rem;
      height: 100%;

      text-align: center;
      padding: 1rem 2rem;
      background-color: variables.$bg-secondary;

      box-shadow: variables.$boxshadow-sm;

      &:hover {
        background-color: lighten($color: variables.$bg-secondary, $amount: 20%);
      }

      &:focus {
        background-color: lighten($color: variables.$bg-secondary, $amount: 20%);
      }
      &:first {
        border-radius: variables.$rounded;
        -webkit-border-radius: variables.$rounded;
        -moz-border-radius: variables.$rounded;
        -ms-border-radius: variables.$rounded;
        -o-border-radius: variables.$rounded;
        border-top-right-radius: none;
        border-bottom-right-radius: none;
      }

      &:last-of-type {
        border-radius: variables.$rounded;
        -webkit-border-radius: variables.$rounded;
        -moz-border-radius: variables.$rounded;
        -ms-border-radius: variables.$rounded;
        -o-border-radius: variables.$rounded;
        border-top-left-radius: none;
        border-bottom-left-radius: none;
      }
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 10rem;
    padding: 2rem;
    background-color: variables.$bg-secondary;
    box-shadow: variables.$boxshadow-sm;
    border-radius: variables.$rounded;
    -webkit-border-radius: variables.$rounded;
    -moz-border-radius: variables.$rounded;
    -ms-border-radius: variables.$rounded;
    -o-border-radius: variables.$rounded;
  }
}
