:root {
	--background-primary: #181b30;
	--background-primary-alpha: #181b3046;

	--font-primary: #eefcee;
	--font-secondary: #1f2222;
	// #1f2222
	--font-white: #fefefe;
	--boxshadow: 0rem 0rem 1rem 0 #0c0f1f;

	--card-background: #f9f9f9;

	--font-max: 1.8rem;
	--font-min: 1.2rem;

	--font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}
