:root {
	--backgroung-primary: #bebeff;
	// --background-primary: rgb(5, 1, 5);
	--font-primary: #101b1b;
	// --font-primary: rgb(71, 255, 35);
	--boxshadow: 0rem 0rem 1rem 0 rgba(187, 187, 187, 0.712);

	--card-background: #f9f9f9;

	--font-max: 1.8rem;
	--font-min: 1.2rem;

	--font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}
