:root {
	--background-primary: #130729;
	--background-secondary-darker: #2f1c523a;
	--background-secondary-dark: #20015a;
	--background-secondary: #442978;
	--background-secondary-light: #9963fc;

	--background-grey-primary: #282828;

	--background-gradient: linear-gradient(
		0deg,
		var(--background-primary) 0%,
		#20015a 100%
	);

	--font-primary: #f0fcf0;
	--font-secondary: #1f2222;
	--font-white: #fefefe;

	--boxshadow: 1rem 1rem 2rem #0e0918bb;
	--boxshadow-sm: 0.5rem 0.5rem 0.5rem #190f2ba2;

	--card-background: #f9f9f9;

	--fav-red: #d75a4a;
	--fav-red-dark: #a72716;

	--font-max: 1.8rem;
	--font-min: 1.2rem;

	--font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}
