@import './variables';
@import './Components/Button/button';
@import './Wallpaper/index.scss';
@import './Components/Pagination/pagination';
@import './Profile/Index.scss';
@import './Components/Form/form';
@import './Components/Modal/modal';
@import './Components/Navbar/navbar';
@import './Components/search/search.scss';
@import './Upload/upload';

*,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	border: 1px solid transparent;
}

ul,
ol {
	list-style: none;
}

html {
	box-sizing: border-box;
	min-height: 100%;

	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}

.svg {
	&-fav {
		fill: var(--fave-red);
	}
}

body {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: 100%;
	min-height: 100rem;

	font-size: var(--font-size);
	color: var(--font-primary);
	background: var(--background-gradient);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-height: 100%;
	max-width: 100%;
	height: 100vh;
	width: 100vw;
}

a {
	color: inherit;
	text-decoration: none;

	&:focus {
		border: 1px solid var(--background-secondary-light);
		outline: none;
	}
}

.home {
	display: flex;
	flex-direction: column;
}

.footer {
	margin: 0 auto;
	font-size: 1.6rem;
}

@include respond(phone) {
	.container {
		height: 85vh;
	}
}

//media query manager

/*
0-600 phone
600-900 tablet
900-1200 tablet landscape
1200-1800 laptops & desktops *normal styles apply*
1800+ big desktop and high res laptops
$breakpoint argument choices: 
-phone 600px
-tab-port 900px
-lap/desk 1800px
1em = 16px
600px = 37.5em
900px = 56.25em
1800px = 112.5em
*/
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tabLand {
		@media only screen and (max-width: 125em) {
			@content;
		}
	}

	@if $breakpoint == lap-desk {
		@media only screen and (min-width: 121em) {
			@content;
		}
	}
}
