@import './variables';
@import './abstract/mixins';
@import './Components/Button/button';
@import './Wallpaper/index.scss';
@import './Components/Pagination/pagination';
@import './Components/Form/form';
@import './Components/Navbar/navbar';
@import './Upload/upload';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	border: 1px solid transparent;
	text-decoration: none;
	list-style: none;
}

html {
	box-sizing: border-box;
	min-height: 100%;

	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: 100%;
	min-height: 100rem;

	font-size: var(--font-size);
	color: var(--font-primary);
	background: var(--background-gradient);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-height: 100%;
	max-width: 100%;
	height: 100vh;
	width: 100vw;
}

a {
	color: var(--font-primary);
}

@include respond(phone) {
	.container {
		height: 85vh;
	}
}
