@import './variables';
@import './abstract/mixins';
@import './Wallpaper/index.scss';
@import './Form/form';
@import './Navbar/navbar';
@import './Button/button';
@import './Upload/upload';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	border: 1px solid transparent;
	text-decoration: none;
	list-style: none;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: var(--font-size);
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	color: var(--font-primary);
	background-color: var(--background-primary);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-height: 100%;
	max-width: 100%;
	height: 100vh;
	width: 100vw;
}

a {
	color: var(--font-primary);
}

img {
	max-width: 100%;
}

@include respond(phone) {
	.container {
		height: 85vh;
	}
}
