@tailwind base;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  border: none;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

.svg-fav {
  fill: var(--fave-red);
}

body {
  @apply bg-gray-900;
  @apply text-lg;
  @apply text-gray-100;
}

a {
  color: inherit;
  @apply no-underline;
}

a:focus {
  border: 1px solid var(--background-secondary-light);
  outline: none;
}

.nav-link {
  @apply border-transparent;
  @apply border-b;
}

.nav-link:hover {
  @apply border-purple-300;
  @apply text-purple-300;
}

.wallpaper-img {
  @apply w-full;
  @apply h-auto;
  @apply max-w-85vw;
  @apply max-h-85vw;
  @apply mx-auto;
  @apply rounded;
}

.tags-tag {
  @apply inline-flex;
  @apply flex-row;
  justify-content: space-evenly;
  @apply items-center;
  @apply bg-purple-900;
  @apply rounded;
  @apply m-3;
  @apply text-center;
}
.tags-tag-nsfw {
  @apply text-red-500;
}

.form {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-around;
  @apply mb-8;
  @apply bg-gray-800;
  @apply rounded;
  @apply shadow;
  width: 50rem;
  height: 60rem;
  max-width: 50rem;
  margin: 10rem auto;
}

.form-box {
  @apply flex;
  @apply flex-col;
  @apply w-50;
  @apply justify-around;
  @apply items-baseline;
  min-height: 5rem;
}

.form-input {
  @apply py-4;
  @apply px-2;
  @apply text-black;
  @apply border-b-2;
  @apply border-transparent;
}

.form-input:hover {
  @apply cursor-pointer;
  @apply border-purple-700;
}

.dropdown-content {
  @apply invisible;
}

.dropdown:hover .dropdown-content {
  @apply visible;
}

.settings-adult-btn {
  @apply p-8;
  @apply text-center;
  @apply rounded;
  @apply shadow;
}

.settings-nsfw {
  @apply bg-red-600;
  @apply text-black;
}
.settings-nsfw:hover {
  @apply bg-red-800;
  @apply text-white;
}
.settings-sfw {
  @apply bg-purple-500;
  @apply text-black;
}

.settings-sfw:hover {
  @apply bg-purple-900;
  @apply text-white;
}

.pagination {
  @apply flex;
  @apply items-center;
  @apply justify-between;
}

@media (min-width: 640px) {
  body {
    @apply text-2xl;
  }

  .form {
    @apply w-full;
    @apply h-full;
    @apply max-h-full;
    @apply shadow-none;
  }

  .form-box {
    @apply flex-col;
    @apply justify-start;
    @apply items-baseline;
    width: 90%;
  }

  .form-input {
    width: 100%;
    @apply self-center;
  }
}

.thumb-fig {
  max-width: 536px;
}

@tailwind components;

@tailwind utilities;
