.btn {
	color: var(--font-primary);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;

	&:hover {
		cursor: pointer;
	}

	&-danger {
		padding: 1rem 1.5rem;

		background-color: var(--fav-red);
		&:hover {
			background-color: #8d2323;
		}
	}

	&-form {
		padding: 1rem 4rem;

		background-color: var(--background-secondary-dark);
		color: var(--font-primary);

		&:hover {
			background-color: var(--background-secondary-light);
		}
	}

	&--settings {
		padding: 1rem 2rem;
		background-color: var(--background-secondary-dark);
		box-shadow: var(--boxshadow-sm);
		color: var(--font-primary);

		&:hover {
			background-color: var(--background-secondary-light);
		}
	}

	&--svg {
		height: 4.5rem;
		width: 4.5rem;
		background-color: transparent;
		border: 2px solid transparent;

		img {
			height: 100%;
			width: 90%;
		}

		&:hover {
			border: 2px solid var(--fav-red);
		}
	}

	&-tags {
		display: inline;
		&-form {
			background-color: var(--background-primary);
			color: var(--font-primary);
			height: 3rem;
			width: 4rem;
			border-radius: 0 5px 5px 0;
			-webkit-border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			-ms-border-radius: 0 5px 5px 0;
			-o-border-radius: 0 5px 5px 0;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;

			&:hover {
				background-color: var(--background-secondary-light);
				cursor: pointer;
			}
		}

		&-danger {
			display: inline-block;
			width: 1.5rem;
			height: 3rem;
			margin-left: 4px;
			color: var(--font-primary);
			background-color: var(--fav-red);
			border-radius: 0 5px 5px 0;
			-webkit-border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			-ms-border-radius: 0 5px 5px 0;
			-o-border-radius: 0 5px 5px 0;

			&:hover {
				cursor: pointer;
				background-color: rgb(119, 60, 60);
			}
		}
	}

	&-search {
		background-color: var(--background-secondary);
		max-height: 4rem;
		width: 3.5rem;

		&:hover {
			cursor: pointer;
			background-color: var(--background-secondary-light);
		}
		border-radius: 0 5px 5px 0;
		-webkit-border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		-ms-border-radius: 0 5px 5px 0;
		-o-border-radius: 0 5px 5px 0;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
}
