.modal {
	display: flex;
	align-content: center;
	justify-content: center;
	position: fixed;

	overflow: hidden;

	height: 100vh;
	width: 100vw;
	max-width: 100%;

	z-index: 10;

	&--form {
		z-index: 13;
	}

	&--overlay {
		z-index: 11;
		position: absolute;
		top: 0%;
		left: 0%;
		height: 100%;
		width: 100%;
	}
}
