.modal {
	display: flex;
	align-content: center;
	justify-content: center;
	position: fixed;

	overflow: hidden;

	height: 100%;
	width: 100vw;
	max-width: 100%;

	z-index: 12;

	&--form {
		z-index: 4;
		&--box {
			display: flex;
			justify-content: space-around;
			background-color: pink;
			width: 80%;
		}
		align-self: center;
	}

	&--overlay {
		z-index: 3;
		position: absolute;
		top: 0%;
		left: 0%;
		height: 100%;
		width: 100%;
		background-color: rgba(32, 6, 32, 0.795);
		filter: blur(1rem);
		-webkit-filter: blur(1rem);
	}
}
