.navbar {
	display: flex;
	width: 100vw;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	margin-bottom: 2rem;
}

.navlink {
	margin: 0rem 1rem;
	padding: 0.5rem 1rem;
	color: var(--font-primary);
	border-bottom: 2px solid transparent;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;

	&:hover {
		border-bottom: 2px solid var(--border-color);
	}
}
