@use "./reset";
@use "./typography";
@use "../abstract/variables";
@use "../abstract/mixins";

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: variables.$bg-primary;
  font-size: variables.$font-size;
  color: variables.$font-primary;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 0 auto;
  border: none;
}

.container {
  width: 100%;
  max-width: 50rem;
  margin: 0;
  padding: 0;
  border: none;
}

.footer {
  font-size: 1.6rem;
  margin-top: 2.5rem;
}

.svg-fav {
  fill: variables.$fave-red;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  border: 1px solid variables.$bg-secondary;
  outline: none;
}

@include mixins.screen(tablet) {
  body {
    font-size: 2rem;
  }
}
