*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 1px solid transparent;
}

ul,
ol {
  list-style: none;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  max-width: 100%;

  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 80rem;
}

@include screen(tablet) {
  body {
    min-height: 100rem;
  }
}
