.profile {
	&--box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100rem;
		min-height: 20rem;
		margin: 5rem auto;

		background-color: var(--background-secondary);
		z-index: 1;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}
}
