.settings {
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	justify-content: space-around;

	background-color: var(--background-primary2);

	width: 100rem;
	max-width: 100%;
	margin: 5rem auto;

	&--name {
		display: flex;
		justify-content: space-around;
		padding: 2rem 0;

		width: 40rem;
	}

	box-shadow: var(--boxshadow);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	z-index: 1;
}
